/* font-family: "Open Sans", sans-serif; */
/* font-family: "Raleway", sans-serif; */
/*   font-family: "Cardo", serif; */
body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.hero-section{
    background-image: url(Images/Image/Background.jpg);
    height: 750px;
    width: 100%;
}
.navbar ul li a{
    color: white;
}
.display{
    margin-top: 100px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.d-heading h1{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 65pt;
    
}

.d-text{
    margin-top: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button button{
    margin-top: 80px;
    height: 50px;
    width: 200px;
    background-color: #e84545;
    border: none;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}




/* Feature Area */
.feature{
    margin-top: 80px;
    display: flex;

   
    
}

.feature-content{
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.heading{
    margin-top: 30px;
}
.heading h3{
   
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 14pt;
}
.text{
margin-top: 20px;
}
.text p{
    margin-top: 10px;
    align-items: center;
    line-height: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 12pt;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Work Area */

.work{
    display: flex;
    margin-top: 100px;
}
.work-2{
    display: flex;
}
.work-img img{
    width: 336px;
    height: 250px;
}


/* Team-area */
.team{
    margin-top: 100px;
}
.card-title{
    font-family: "Raleway", sans-serif; 
    
    font-size: 22pt;
}
.name-title{
    font-family: "Raleway", sans-serif; 
    font-weight: 400;
   text-transform: uppercase;
   color: #e84545;
   font-size: 13pt;
}

.card-text{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14pt;
}

/* carousel area */

.images {
    width: 680px;
    
}

.carousel-area{
    background-color: #53354a;
    color: white;

    width: 100%;
}

.c-title{
    margin-top: 20px;
    font-family: "Cardo", serif;
    font-style: italic;
    font-size: 22pt;
}

.c-text{
    font-family: "Raleway", sans-serif;
    font-weight: bold; 
    font-size: 12pt;
    margin-bottom: 100px;
}
#button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

/* Download Area */

.download{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download h1{
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 28pt;
}
.download p{
    font-family: "Raleway", sans-serif;
    font-weight: 13pt;
    font-weight: bold;
}

.download button{
    margin-top: 30px;
    width: 280px;
    height: 50px;
    background-color: #e84545;
    border: none;
}

/* contact-Area */

.icon i{
    border: 1px solid;
    padding: 10px;
   margin: 10px;

}

.icon a{
    color: white;
}

.location{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}
.share{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-area{
    margin-top: 80px;
    padding-top: 50px;
    background-color: #3a3e64;
    color: white;
}

.footer{
    background-color: #313454;
    color: grey;
}
.footer-content{
   padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 5px;
}
.footer-content a{
    text-decoration: none;
    color: white;
}



